/* Enter your custom styles here */
/* Enter your custom styles here */
.sapUiView {
  /*display: inline!important;*/
}

body {
  /*overflow-y: visible !important;	*/
}
.sapUiView {
  display: block;
}

/************************************************/
/************************************************/
/*css section portal*/
/************************************************/
/************************************************/
/*css dotted input*/
.sapMFocus .sapMInputBaseContentWrapper::before {
  border: none !important;
}

.sapUiGlobalBackgroundColor,
.sapMShellGlobalInnerBackground {
  /* background-color: transparent !important; */
}

/* poper profile */
.sapMPageHeader>.sapMIBar.sapMHeader-CTX {
  background-color: transparent !important;
}

.sapMBar {
  text-shadow: 0 0 0.125rem transparent !important;
  box-shadow: inset 0 -0.0625rem transparent !important;
}

.sapUiGlobalBackgroundColor,
.sapMShellGlobalInnerBackground {
  background-color: transparent !important;
}

.sapMPageHeader .sapMIBar-CTX .sapMTitle {
  text-shadow: none !important;
  font-size: 1.2em !important;
}

.sapUiBlockLayoutSizeL:not(.sapUiBlockLayoutKeepFontSize) .sapUiBlockCellContent {
  padding: 0 !important;
}

/*border cuadro   */
.sapMGT {
  box-shadow: none !important;
}

.sapUxAPObjectPageNavigation {
  background: transparent !important;
}

.sapUxAPAnchorBar.sapMTB {
  background: transparent !important;
}

.sapUxAPAnchorBar .sapUxAPAnchorBarButton.sapUxAPAnchorBarButtonSelected .sapMBtnContents {
  color: #fff !important;
}

html.sap-desktop .sapMShellAppWidthLimited .sapMShellCentralBox {
  background-color: transparent !important;
}

.sapUxAPAnchorBar .sapUxAPAnchorBarButton.sapUxAPAnchorBarButtonSelected .sapMBtnContent {
  color: #fff !important;
  text-transform: capitalize !important;
  font-size: 1.2em !important;
}

.sapUxAPAnchorBar .sapUxAPAnchorBarButton .sapMBtnInner.sapMBtnTransparent.sapMBtnHoverable:hover .sapMBtnContent,
.sapUxAPAnchorBar .sapUxAPAnchorBarButton.sapMBtn:hover>.sapMBtnHoverable .sapMBtnContent,
.sapUxAPAnchorBar .sapUxAPAnchorBarButton.sapMBtn:hover>.sapMBtnHoverable .sapMBtnIcon {
  color: #fff !important;
}

.sapUxAPObjectPageContainer,
.sapUxAPObjectPageContainer+div,
.sapUxAPObjectPageHeaderDetailsHidden {
  background-color: transparent !important;
}

.sapUxAPAnchorBarButton.sapUxAPAnchorBarButtonSelected .sapMBtnContent {
  border-bottom: 0.125rem solid #fff !important;
}

html.sap-desktop .sapMShellCentralBox {
  box-shadow: none !important;
}

.sapUxAPAnchorBar.sapMTB {
  /*padding-left: 0;*/
  box-shadow: inset 0 -0.125rem rgba(255, 255, 255, 0.1) !important;
}

.sapUxAPAnchorBar .sapUxAPAnchorBarButton .sapMBtnContent {
  text-transform: capitalize !important;
  color: #fff !important;
  font-size: 1.2em;
}

.sapUxAPObjectPageLayout-Std-Desktop .sapUxAPBlockContainer {
  padding: 1rem .5rem 0 !important;
}

.sapUxAPObjectPageSectionTitle {
  color: #fff !important;
  font-size: 1.2em !important;
  border-bottom: none !important;
  text-transform: capitalize !important;
}

.sapUxAPObjectPageSectionHeader {
  border-bottom: none !important;
}

.sapUxAPAnchorBar .sapUxAPAnchorBarButton .sapMBtnContent {
  font-size: 1.2em !important;
}

/*css mobile*/
.sapMSlt>.sapMSltLabel {
  color: #fff !important;
}

html.sap-desktop .sapUxAPHierarchicalSelect .sapMSltLabel {
  color: #fff !important;
}

html .sapUxAPObjectPageLayout-Std-Phone .sapUxAPHierarchicalSelect .sapMSltLabel,
html .sap-phone .sapUxAPHierarchicalSelect .sapMSltLabel {
  border-bottom: 0.125rem solid #fff !important;
}

.sapUiBlockCellContent {
  padding: .5rem 0 !important;
}

.sapMSltArrow {
  color: #fff !important;
}

html .sapUxAPObjectPageLayout-Std-Phone .sapMSlt.sapUxAPHierarchicalSelect,
html .sap-phone .sapMSlt.sapUxAPHierarchicalSelect {
  box-shadow: inset 0 -0.125rem rgba(255, 255, 255, 0.1), 0 0.125rem 0 0 rgba(255, 255, 255, .1) !important;
}

html .sapUxAPObjectPageLayout-Std-Phone .sapUxAPHierarchicalSelect .sapMSltArrow,
html .sap-phone .sapUxAPHierarchicalSelect .sapMSltArrow {
  box-shadow: inset 0 -0.125rem rgba(255, 255, 255, 0.1), 0 0.125rem 0 0 rgba(255, 255, 255, 0.1) !important;
}

.sapMBtnInner {
  /* text-shadow: none !important;
  color: #fff !important; */
}

/*css notificaciones */
.sapMPopoverVerScrollDisabled {
  top: 120px !important;
  /*right: 13px !important;*/
}

/*css shell*/
.sapUiUfdShell .sapUiUfdShellHead {
  background-color: transparent !important;
}

.sapUiUfdShell .sapUiUfdShellHead>div {
  background-color: transparent !important;
}

/*notificacion*/
/*css login html*/
/************************************************/
/************************************************/
/*css section login*/
/************************************************/
/************************************************/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

body {
  margin: 0
}

html {
  /*font-size: 10px;*/
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff
}

html.sap-desktop .sapMBtn:focus>.sapMFocusable {
  outline: none !important;
}

.message-error {
  opacity: 0;
  transition: all 1s;
}

.row {
  margin-right: -15px;
  margin-left: -15px
}

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto
}

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important
  }
}

@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important
  }
}

.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px
}

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
  float: left
}

.col-xs-12 {
  width: 100%
}

.col-xs-11 {
  width: 91.66666667%
}

.col-xs-10 {
  width: 83.33333333%
}

.col-xs-9 {
  width: 75%
}

.col-xs-8 {
  width: 66.66666667%
}

.col-xs-7 {
  width: 58.33333333%
}

.col-xs-6 {
  width: 50%
}

.col-xs-5 {
  width: 41.66666667%
}

.col-xs-4 {
  width: 33.33333333%
}

.col-xs-3 {
  width: 25%
}

.col-xs-2 {
  width: 16.66666667%
}

.col-xs-1 {
  width: 8.33333333%
}

.sec-login .sec-photo_fullscreen {
  position: absolute;
  /* background-image: url("../img/slide1.jpeg"); */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  background-position: inherit;
  overflow: hidden;
  padding: 0;
  text-align: center;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  width: 100%
}

.sec-login .ln-content-create-event {
  /* background: rgba(227, 96, 57, 0.9); */
  display: flex;
  flex-direction: column;
  height: 100%
}

.sec-login .wp-logo {
  width: 230px;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -10%)
}

@media (min-width: 992px) {
  .sec-login .wp-logo {
    left: 95%;
    width: 320px;
    top: 10%;
    transform: translate(-95%, -10%)
  }
}

.sec-login .wp-login {
  position: absolute;
  left: 50%;
  width: 90%;
  top: 75%;
  transform: translate(-50%, -75%)
}

@media (min-width: 992px) {
  .sec-login .wp-login {
    height: 70vh;
    left: 88%;
    width: 24%;
    top: 35%;
    background: #fff;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    transform: translate(-88%, -35%)
  }
}

.sec-login .wp-login .title-login {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 1em;
  line-height: 1.1em;
  font-weight: 300;
  /*font-size: 1.4rem*/
}

@media (min-width: 992px) {
  .sec-login .wp-login .title-login {
    font-size: 1.8em;
    text-align: left;
    margin: 25px 0;
    padding-left: 20px
  }
}

.sec-login .wp-login .box-login {
  border-radius: 10px;
  padding: 10px 15px
}

.sec-login .wp-login .box-login>p {
  margin: 0 0 10px;
  color: #333;
  font-size: 1.1rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  text-align: left;
  width: 90%;
  margin: 0 auto;
  padding-top: 0.8em;
  line-height: 1.2em;
  padding-bottom: 2em
}

.sec-login .wp-login .box-login>h1 {
  margin: 0 0 10px;
  width: 90%;
  margin: 0 auto;
  color: #333;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  font-size: 2rem;
  font-weight: bolder
}

@media (min-width: 992px) {
  .sec-login .wp-login .box-login {
    padding: 20px 20px 40px;
    position: relative;
    top: 50%;
    transform: translate(0, -50%)
  }
}

.sec-login .wp-login .box-login .div-input {
  width: 100%;
  padding: 5px 0;
  outline: none
}

@media (min-width: 992px) {
  .sec-login .wp-login .box-login .div-input {
    padding: 5px 0
  }
}

.sec-login .wp-login .box-login .div-input__tag {
  width: 100%;
  height: 35px;
  padding: 0;
  color: #fff;
  outline: none;
  font-size: 1.6rem;
  padding: 0 1rem;
  background: transparent;
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  border-radius: 5px
}

.sec-login .wp-login .box-login .div-input__tag .sapMInputBaseContentWrapper {
  background: transparent !important;
  border: none !important;
}

.sec-login .sapMInputBaseInner {
  width: 100%;
  font-size: 1.1rem;
  padding: 0;
  color: #333;
}

.sec-login .sapMInputBaseInner::placeholder {
  color: #fff !important;
  /*padding-left: 20px!important;*/
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 300 !important;
  font-style: normal !important;
  font-size: 1rem !important;
}

@media (min-width: 992px) {
  .sec-login .sapMInputBaseInner::placeholder {
    color: #333 !important;
    /*font-size: 1.8em !important;*/
    line-height: 45px !important;
    color: #333 !important;
  }
}

/*.div-input__tag::placeholder {*/
/*    font-size: 0.7em;*/
/*    padding: 0 8px;*/
/*    font-family: "opensans-Light", sans-serif;*/
/*}*/
@media (min-width: 992px) {
  .sec-login .wp-login .box-login .div-input__tag {
    font-size: 1.3em;
    background-color: transparent;
    border: 1px solid #333;
    width: 90%;
    color: #333;
    height: 45px
  }
}

.sec-login .wp-login .box-login .btn-login {
  color: #fff;
  height: 37px;
  line-height: 37px;
  border-radius: 7px;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  border: none;
  background: #333;
  margin: 5px 0
}

.btn-login .sapMBtnInner.sapMBtnText {
  background: transparent !important;
  border: none !important;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  height: 100%;
  font-size: 1rem;
}

@media (min-width: 992px) {
  .sec-login .wp-login .box-login .btn-login {
    color: #fff;
    background: #333;
    width: 100%;
    font-size: 1.1em;
    margin: 20px auto;
    height: 45px;
    line-height: 45px;
  }

  .btn-login .sapMBtnInner.sapMBtnText {
    font-size: 1rem;
  }
}

.sec-login .wp-socialMedia {
  position: fixed;
  bottom: 0;
  width: 100%
}

@media (min-width: 992px) {
  .sec-login .wp-socialMedia {
    left: 0;
    top: 90%;
    left: 18%;
    width: 450px;
    text-align: left;
    transform: translate(-18%, -90%)
  }
}

.sec-login .wp-socialMedia .list-media {
  padding: 0;
  margin: 0;
  display: inline-block;
  list-style: none
}

.sec-login .wp-socialMedia .list-media a {
  display: block;
  width: 100%;
  height: 100%
}

.sec-login .wp-socialMedia .item-media {
  display: inline-block;
  margin: 5px 0;
  padding: 15px
}

.sec-login .wp-socialMedia .item-media .icon-media {
  color: #fff;
  font-size: 1.4em
}

@media (min-width: 992px) {
  .sec-login .wp-socialMedia .item-media .icon-media {
    color: #fff;
    font-size: 1.3em
  }
}

.sec-login .wp-sumary {
  position: absolute;
  top: 40%;
  left: 20%;
  width: 550px;
  text-align: left;
  transform: translate(-20%, -40%)
}

.sec-login .wp-sumary>p {
  margin: 0 0 10px;
  color: #fff;
  font-size: 1.2rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100
}

.sec-login .wp-sumary>h1 {
  margin: 0 0 10px;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  font-size: 2.4rem;
  font-weight: bolder;
  line-height: 2.5rem;
}

.sapMShellBrandingBar {
  background-color: transparent !important;
}

input:-internal-autofill-selected {
  background-color: rgb(255, 255, 255) !important;
}

/* css login popups */
.img-login {
  margin: 0 !important;
}

.wrapper-img>div {
  border: 5px solid #fbfbfb;
  border-radius: 5rem;
}

.btn-login {
  color: #fff;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  height: 40px;
  padding: 0 10px;
  border: 1px solid #276092;
  background: #fff;
  font-size: 0.8em;
  line-height: 35px;
  text-transform: uppercase;
  border-radius: 5px;
  text-align: center;
  margin: 10px auto 0;
  transition: opacity 1s, all 1s;
  display: flex;
  justify-content: center;
  /* width: 300px!important; */
}

.btn-login .sapMBtnInner {
  display: block;
  background: transparent;
  border: none;
}

.btn-login .sapMBtnContent {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  height: 100% !important;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #276092 !important;
  font-size: 0.8em;
}

.sapUiPopupWithPadding .sapMDialogScrollCont {
  padding: 0 1rem !important;
}

.box-form .sapMLabel {
  color: #276092 !important;
}

.mg-btn {
  margin-top: 25px !important;
}

.popup_message .sapUiContentPadding {
      width: 350px !important;
}

.popup_message .sapUiVlt.sapUiContentPadding {
  padding: 0 !important;
  box-sizing: border-box;
}
.popup_message .sapMIBar-CTX .sapMTitle ,
.popup_profile .sapMIBar-CTX .sapMTitle {

    color: #276092 !important;

}

@media (min-width: 992px) {
  .popup_profile.sapMPopover {
    max-width: 25% !important;
  }

  .popup_message .sapMIBar.sapMHeader-CTX {
    background-color: transparent !important;
    visibility: hidden !important;
  }

  .popup_message {
    background-color: transparent !important;
    box-shadow: none;
  }

  .popup_message .sapMPopoverArrUp:after {
    box-shadow: none;
  }

  .popup_message .sapMPopoverArr:after {
    background-color: transparent;
  }

  .popup_message.sapMPopover .sapMPopoverCont {
    background-color: transparent;
    overflow: none !important;
    /* margin: 0; */
  }

  .popup_message.sapMPopover {
    max-width: 40% !important;
  }

  .popup_profile .sapMPopoverScroll {
    padding: 2rem 1rem !important;
  }

  .popup_profile .sapMPopoverHeader {
    display: none !important;
  }
}

/* css mobile response */
.sapMPageEnableScrolling {
  overflow: visible !important;
}

.sapUxAPObjectPageLayout-Std-Phone .sapUxAPBlockContainer {
  padding: 0rem !important;
}

.wrapper-bar .sapUiIcon::before {
  color: #fff !important;
}
.wrapper-bar .sapMBtnInner {
  color: #fff !important;
}
.wrapper-home .sapUxAPSectionShowHideButton .sapMBtnInner{
  color:#fff !important;
  text-shadow: none !important;
}

.sapMSltPicker .sapUxAPHierarchicalSelect.sapMIBar.sapMHeader-CTX {
background: #346187 !important ;
}

@media (max-width: 992px) {
  .logo-home {
    display: none !important;
  }
}
.sapUiForm .sapUiFormTitle{
  text-align: center;
}

.sapMPopoverHeader span {
  color: #696363 !important;
}
.usrPageGenerica >sapMPage  {
    color: #aba6a6 !important;
}
.headerTitulo{
  color: #fff !important;
}
.genPageMaster section{
  background: #fff !important ;
}
.genPageDetalleMaster{
  background: #fff !important ;
}
.genPageDetailMaster{
    background: #eff4f9 !important ;
}


/* css usuario */

/* css view usuarios */
.view-usuario .sapUiFormResGrid.sapUiFormBackgrTranslucent>div {
  background-color: rgba(255, 255, 255, 1);
}
@media (min-width: 992px) {
  .view-usuario .sapUiFormResGrid.sapUiFormBackgrTranslucent>div {
    height: 100vh !important;
  }
  .view-usuario .sapMPageEnableScrolling{
    overflow: hidden !important;
  }
}

.view-usuario .sapMIBar.sapMHeader-CTX {
  /* background-color: #2f3c48 !important; */
}

/* css general  input */
.view-home .sapMIBar.sapMHeader-CTX {

    background-color: transparent !important;

}
.sapMBar {

    box-shadow: inset 0 -0.0625rem transparent !important;
}
.inputUser .sapMInputBaseContentWrapper {
  border: none;
  background: #f0f0f0;
  background: #fbfbfb;
  border-radius: 5px;
}

/* input hover active */
.sapMInputBaseContentWrapper:not(.sapMInputBaseReadonlyWrapper):not(.sapMInputBaseContentWrapperState):not(.sapMInputBaseDisabledWrapper):active {
  background: #fbfbfb !important;
  border-radius: 5px !important;
}

.sapMInputBaseContentWrapper:not(.sapMInputBaseReadonlyWrapper):not(.sapMInputBaseContentWrapperState):not(.sapMInputBaseDisabledWrapper):hover {
  background: #fbfbfb !important;
}

.view-usuario .sapMInputBaseInner::placeholder {
  color: #9C9BA0 !important;
  color: #333;
  /*padding-left: 20px!important;*/
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 300 !important;
  font-style: normal !important;
  font-size: .8rem !important;
}

.view-usuario .sapUiFormLblColon .sapUiFormElementLbl>.sapMLabel {
  color: #276092 !important;
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 600 !important;
}

/* css imagenes */
html.sap-desktop .sapMShellCentralBox {
  /* box-shadow: none !important;
    width: 95%;
    margin: 0 auto;
   background: #fff;
   padding: 0 2rem; */
}

.sapMScrollBarInnerDiv .view-usuario>section {
  background: #fff !important;
}

/* section#__xmlview2--usrPageUsuario-cont */
.view-usuario .sapMPageEnableScrolling {
  background: #fff !important;
}

@media (min-width: 992px) {
  .view-usuario .sapUiForm .sapUiFormResGridMain {
    padding: 3rem 6rem !important;
  }
}

@media (min-width: 992px) {
  .view-usuario .sapMMsgStrip {
    margin: 2rem 6rem 1rem !important;
  }
}

@media (max-width: 992px) {
  .view-usuario .sapMMsgStrip {
    display: none;
  }
}
/* css tabla usuarios */
.sapFDynamicPageTitleMain.sapFDynamicPageTitleMainNoContent>.sapFDynamicPageTitleMainInner {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sapFDynamicPageTitleMain>.sapFDynamicPageTitleMainInner .sapFDynamicPageTitleMainActions {
    margin-left: 0 !important;
    flex-basis: 0 !important;
}
.homeDynamic .sapUiHLayout {
    width: 100% !important;
}
.sapUiVlt.sapuiVlt {
    width: 100% !important;
}
.view-usuario .sapMListTblHeader>.sapMTableTH {
    background: #eff4f9;

}

/* css add usuario */
.icons-table{
  margin:.5em 1em;
}
.view-usuario .sapMListTblCell {

    vertical-align: middle !important;

}
  .sapMNav {
     /* background: rgba(63, 81, 97, 0.6) !important; */
}
.view-usuario .sapMIBar.sapMHeader-CTX {
    background-color: transparent !important;
}
.view-usuario .sapFDynamicPageTitle{
  /* background: transparent !important; */
      background: rgba(63, 81, 97, 0.6) !important;
}
.view-usuario .sapFDynamicPageHeader{
    /*background: transparent !important;*/
        background: rgba(63, 81, 97, 0.6) !important;
}

.view-usuario .sapMPageEnableScrolling {
    /* background: transparent!important; */
      background: rgba(63, 81, 97, 0.6) !important;
}
.view-usuario .sapMListTblHeader>.sapMTableTH {
    background: rgba(63, 81, 97, 1);
}

.sapMListTbl th .sapMText {
  color: #fff !important;
}


.table-usuarios .sapMFlexBoxJustifyCenter{
  justify-content:start !important;
}
.table-usuarios .sapMListTblSubCntRow>.sapMListTblSubCntHdr .sapMText{
        color: #0070b1 !important;
}
.view-usuario .sapMListInsetBG {
    padding: 0 !important;
}
.view-usuario .sapUiFormResGrid>div {
  padding: 2rem 1.2rem;
}
@media (min-width: 992px) {
  .table-usuarios .sapMFlexBoxJustifyCenter{
    justify-content:center !important;
  }
  .table-usuarios .sapUiIcon::before {
      color: #0070b1 !important;
  }
}

/* css maestro */
.view-maestro .sapMSplitContainer{
    background: rgba(63, 81, 97, 0.6) !important;
}
